

.foodContainer{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin-right: 75px;
margin-left: 75px;
}

.foodItem{
  width:20%;
}

img{
  z-index: 100;
  width: 200px;
  height: 200px;
  /*background-image: url(https://pbs.twimg.com/media/CZiq32pUUAA_6pg.jpg);*/
}
h3{
  z-index: 200;
  width:200px;
}
.searchBar{
  margin-bottom: 30px;
  margin-left: 85px;

}

.foodContainer{
padding-top: 50px;
border-top: 2px solid black;
}
#recipeSearch{
  width:200px;
  height: 30px;
  border-radius: 0%;
}
